html {
  background: #1d1f21
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  color: #737373;
}

.content {
  display: flex;
  flex-wrap: wrap;  
}

.content * {
  max-width: 200px;
  max-height: 200px;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* thumbnails */

.thumb-standard { border: 1px solid #000 }
.thumb-child { border: 1px solid #cc0 }
.thumb-parent { border: 1px solid #0F0 }

.thumb {
  width: 200px;
  height: 200px;
  margin: 2px;
  overflow-y: scroll;
}

@media only screen and (max-width : 600px) {
  .thumb {
    width: 150px;
    height: 150px;
  }
  .content * {
    max-width: 150px;
    max-height: 150px;
  }
}

.thumb-with-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumb-with-text * {
  padding: 2px;
}

.thumb * {
  margin: auto;
}

.thumb h3, .thumb p {
  color: #fff;
}

/* sidebar */

.sidebar {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  overflow: visible;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.importer-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: #111;
  border-radius: 5px;
  min-height: 24px;
  text-align-last: center;
}

.importer-input {
  border-radius: 5px;
  min-height: 24px;
  background-color: #282a2e;
  text-align: center;
  color: #fff;
  border: 0;
}

.importer-input:focus {
  outline: none;
}

/* headers */

.subheader {
  background-color: #282a2e;
  padding: 5px 20px 5px 15px;
  margin: 0 0 0.5em 0;
}

.subheader li {
  display: inline;
  list-style-type: none;
  margin: 0 1em 0 0;
}

.subheader li a:visited, .subheader li a:link {
  color: #fff;
}

.header {
  padding: 5px 20px 5px 15px;
  margin: 0;
}

.header li {
  color: #fff;
  display: inline;
  list-style-type: none;
  margin: 0 1em 0 0;
}

.header li a:visited, .header li a:link {
  color: #fff;
}

.current-page {
  background-color: #282a2e;
  padding: 6px 10px 6px;
  font-weight: 700;
}

/* search */

.results li {
  display: block;
  list-style-type: none;
  line-height: 1.8em;
}

.results li a {
  text-decoration: none;
  line-height: 1.4em;
  color: #87CEFA;
}